<footer>
  {{ site.footer }}
<br>
<br>
<i>clone: git@gitlab.com:labadore64/simpleblog-base.git</i>
<br>
<i>source: <a href="https://gitlab.com/labadore64/simpleblog-base">https://gitlab.com/labadore64/simpleblog-base</a></i>
</footer>
