/**
 * Dark theme variables
 */

:root {
  --base-color: #DBDBDB;
  --primary-color: #A2FC8F;
  --border: dashed 1px rgba(219, 219, 219, 0.9);
  --selection-background: rgba(219, 219, 219, 0.99);
  --selection-text: #000;
  --background-color: #000;
  --text-color: var(--base-color);
  --placeholder-color: var(--base-color);
  --link-color: var(--base-color);
  --code-color-1: #1FF420;
  --code-color-2: #1FF420;
  --code-color-3: #1FF420;
  --code-color-4: #1FF420;
  --code-color-5: #1FF420;
  --code-color-6: #1FF420;
  --code-color-7: #1FF420;
  --code-color-8: #1FF420;
  --code-color-9: #1FF420;
  --code-color-10: #1FF420;
  --code-color-11: #1FF420;
  --code-color-12: #1FF420;
  --code-color-13: #1FF420;
  --code-color-14: #1FF420;
  --code-color-15: #1FF420;
  --code-color-16: #1FF420;
  --code-color-17: #1FF420;
  --code-color-18: #1FF420;
  --code-color-main: #1FF420;
  --code-color-bg: #101010;
}
